   /* cell border and spacing */
   td, th {
    border: 1px solid black;
    padding: 10px;
  }
  /* header and every even row to be grey */
  tr:nth-child(even), th {
    background-color: lightgrey;
  }
  form > * {
    margin: 5px;
  }
  input[type=submit] {
    margin-left: 40px;
  }
  /* horizontally center the html body */
  html {
    display: flex;
    justify-content: center;
  }